apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s

  - name: TimescaleDB
    type: postgres
    access: proxy
    url: timescaledb:5432
    database: gress
    user: gress
    secureJsonData:
      password: gress123
    jsonData:
      sslmode: disable
      postgresVersion: 1500
      timescaledb: true
    editable: true
